@charset "UTF-8";
$font-family: 'Roboto', sans-serif;
$primary-color: #EB4747;
$dark-text-color: #25282B;
$grey-text-color: #828282;
$light-grey-color: #A0A4A8;
$btn-grey-color: #52575C;
$accent-blue-color: #1A8BFF;
$accent-red-color: #E93C3C;
$filter-btn-bg: #CACCCF;
$nav-bg-color: #F2F2F2;
$footer-bg-color: #F9F9FA;
$card-border-color: #E8E8E8;
$white-color: #fff;
$black-color: #000;
$range-color: #FF6262;